h1{ 
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
    
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
    
}

h3{  
    font-size: 16px;
    color: teal;
    font-weight: bold;

}
p{ color: #d62d2d;}
p.p1{ font-weight: bold;}
a{ color: #8A2BE2;
 text-decoration: none;}

 header{ color: rgb(13, 126, 224);
    width: 33%;
    background-image: url(./img/game2.png);
 }
 article{ border: 3px solid red;
    border-radius: 12px;
    padding: 5px;
border-left: 7px solid red;}